.container-fluid {
    display: flex;
}

.main-content {
    flex: 1;
    overflow: initial;
    margin-left: 26%;
    margin-top: 50px;
}

.sidebar {
    width: 25%;
    overflow-y: auto;
    height: 90vh;
    position: fixed;
    top: 60px;
}
